---

### Cet exercice te permettra de prendre la main.

# Question 1

Après, tu exécutes quelque venant du cours, ainsi tu pourra voir comment travailler par toi-même.  exécute la cellule suivante sans rien changer.

In [1]:
print("Hello, world!")

Hello, world!

# Question 2

Maintenant, tu pourras afficher d'autres messages de ton choix.  pour faire ça, change `print(" écrire ton message ici !")`. Par exemple:
- `print("Good morning!")`
- `print("I am learning how to code :D")`.

In [2]:
print("Good morning!")
print("I am learning how to code :D")

Good morning!
I am learning how to code :D

# Question 3

    Commentaire dans un code

In [7]:
# print(1+2)

# Question 4

Définition de plusieurs variable, pour calculer le total de nombre de secondes en une année to calculate.

In [8]:
# Creation des variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# calcul du nombre de sécondes en une année
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

Utilise la cellule suivante pour:
- Definir une variable `births_per_min` et affecter la valeur 250.(Ils ya en moyenne  250 bébés qui naissent chaque minutes.)
- Definir une variable`births_per_day`  que contient le nombre moyen des bébés nés par jour. 
    
    Pour avoir la valeur de cette nouvelle variable il faudrait utiliser  `births_per_min` et quelques variable venant de la cellule precédente.

In [18]:
births_per_min = 250                                                            # Affecter 250 à la variable births_per_min
births_per_day = days_per_year*births_per_min*hours_per_day                     # Calculer la valeur de la variable births_per_day
print(births_per_day)                                                           # Afficher le résultat

2190000

# Question 5
    création du dictionnaire avant tout(dictionnaire à comprendre plus tard)
    exécuter le code suivant sans rien changer definition de notre mini tableau

In [10]:
dict_titanic = {"PassengerId":[1,2,3,4,5]
        ,"Survived":[0,1,1,1,0],
        "Pclass":[3,1,3,1,3],
        "Name":["Braund,Mr.Owen Harris","Cumings, Mrs. John Bradley(Florence Briggs Thard)", "Heikkinen, Miss. Laina","Futrelle,Mrs. Jacques Heath(Lily May Peel)","Allen, Mr. William Henry"],
        "Sex":["male","female","female","female","male"],
        "Age":[22.0,38.0,26.0,35.0,35.0],
        "SibSp":[1,1,0,1,0],
        "Parch":[0,0,0,0,0],
        "Ticket":["A/5 21171","PC 17599","STON/02.3101282",113803,373450],
        "Fare":[7.2500,71.2833,7.9250,53.1000,8.0500],
        "Cabin":["NaN","C85","NaN","C123","NaN"],
        "Embarked":["S","C","S","S","S"]}
dict_titanic

{'PassengerId': [1, 2, 3, 4, 5],
 'Survived': [0, 1, 1, 1, 0],
 'Pclass': [3, 1, 3, 1, 3],
 'Name': ['Braund,Mr.Owen Harris',
  'Cumings, Mrs. John Bradley(Florence Briggs Thard)',
  'Heikkinen, Miss. Laina',
  'Futrelle,Mrs. Jacques Heath(Lily May Peel)',
  'Allen, Mr. William Henry'],
 'Sex': ['male', 'female', 'female', 'female', 'male'],
 'Age': [22.0, 38.0, 26.0, 35.0, 35.0],
 'SibSp': [1, 1, 0, 1, 0],
 'Parch': [0, 0, 0, 0, 0],
 'Ticket': ['A/5 21171', 'PC 17599', 'STON/02.3101282', 113803, 373450],
 'Fare': [7.25, 71.2833, 7.925, 53.1, 8.05],
 'Cabin': ['NaN', 'C85', 'NaN', 'C123', 'NaN'],
 'Embarked': ['S', 'C', 'S', 'S', 'S']}

In [15]:
# lecture de notre dataframe (dataframe = tableau = ligne + colonne)
# Pour cette démonstraction on a juste choisie de definir un tableau avec 5 lignes et 12 colonnes
import pandas as pd
titanic_data = pd.DataFrame(dict_titanic)
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund,Mr.Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley(Florence Briggs Thard)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/02.3101282,7.9250,NaN,S
3,4,1,1,"Futrelle,Mrs. Jacques Heath(Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- `total` = totale du nombre des passagers nqui ont voyager dans le bâteau
- `survived` = nombre de passagers ayant survecu à l'accident
- `minors` = nombre de passagers mineurs

In [16]:
total = len(titanic_data)                                 # Nombre total de passagers
print(total)
survived = (titanic_data.Survived == 1).sum()             # Nombre de passagers ayant survecu
print(survived)
minors = (titanic_data.Age < 18).sum()                    # Nombre de passagers ayant moins de 18 ans
print(minors)

5
3
0

In [17]:
survived_fraction =survived/total   
print(survived_fraction)
minors_fraction = minors/total 
print(minors_fraction)

0.6
0.0

---